<div>
  <ul style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
    <li ><a class="active">For One</a></li>
    <li [ngClass]="{'picked': currentRoute == '/towerBuilder'}">
      <a [routerLink]="['/towerBuilder']" [ngStyle]="{ 'color': currentRoute == '/towerBuilder'? 'white': 'black' }">Tower Builder</a>
    </li>
    <li [ngClass]="{'picked': currentRoute == '/squareSlide'}">
      <a [routerLink]="['/squareSlide']" [ngStyle]="{ 'color': currentRoute == '/squareSlide'? 'white': 'black' }">Square Slide</a>
    </li>
    <li [ngClass]="{'picked': currentRoute == '/squareCatch'}">
      <a [routerLink]="['/squareCatch']" [ngStyle]="{ 'color': currentRoute == '/squareCatch'? 'white': 'black' }">Square Catch</a>
    </li>
    <li><a class="active">For Two</a></li>
    <li [ngClass]="{'picked': currentRoute == '/tictac'}">
      <a [routerLink]="['/tictac']" [ngStyle]="{ 'color': currentRoute == '/tictac'? 'white': 'black' }">TicTacToe</a>
    </li>
  </ul>
</div>