.squarecatch{
  width: 100%;
  display: grid;
  justify-content: center;
  text-align: center;
}
#game{
  width: 500px;
  height: 200px;
  border: 1px solid black;
}
#character {
  width: 40px;
  height: 200px;
  background-color: red;
  position: relative;
  top: -50;
  left: 40px;
}

@keyframes  jump{
  0%{top: 150px}
  30%{top: 100px}
  70%{top: 100px}
  100%{top: 150px}
}
#block{
  width: 20px;
  height: 20px;
  background-color: blue;
  position: relative;
  top: -20px;
  left: 480px;
  animation-duration: 0s;
}
.animation{
  animation: block infinite linear;
}
.noanimation{
  animation: block none;
}
@keyframes block{
  0%{left:480px;}
  100%{left: -1px;}
}
.newgame{
  display: inline-block;
  background-color: lightgreen;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.disable{
  pointer-events: none;
}
