body{
  margin: 0;
  padding:0;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  animation: change-bg 10s ease infinite;
}
@keyframes change-bg {
  0%{
    background-color: lightblue;
  }
  25%{
    background-color: lightgreen;
  }
  50%{
    background-color: lightcoral;
  }
  75%{
    background-color: lightsalmon;
  }
  100%{
    background-color: lightblue;
  }
}
